<!DOCTYPE html>
<html ng-app="campus360">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="node_modules/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/style.css">

    <title>College Dashboard</title>
</head>

<body ng-controller="dashboardcontroller">

    <input type="text" ng-model="collegename">
    <h1>{{collegename}}</h1>

    <input type="number" ng-model="totalstudents">
    <button ng-click="totalstudents = totalstudents + 1">
        Add Student
    </button>

    <p ng-class="{
        'green': totalstudents >= 1000,
        'red': totalstudents < 1000
    }">
        Total Students : {{totalstudents}}
    </p>

    <input type="number" ng-model="totalfaculty">
    <button ng-click="totalfaculty = totalfaculty + 1">
        Add Faculty
    </button>

    <p ng-style="{

'color' : totalfaculty >= 100 ? 'green' : 'red',
'font-size' : '25px',
'font-weight' : 'bold'

    }">
        Total Faculty : {{totalfaculty}}</p>

    <h2>Student List</h2>

    <button ng-click="showstudents = !showstudents">
        Show/Hide Students
    </button>

    <div ng-if="showDashboard">
        <ul ng-show="showstudents">
            <li ng-repeat="student in students">
                {{student}}
            </li>
        </ul>
    </div>

    <h2>Filter Demo</h2>
    <p>uppercase : {{collegename | uppercase}}</p>
    <p>lowercase : {{collegename | lowercase}}</p>
    <p>currency : {{fees | currency}}</p>
    <p>date : {{today | date: 'dd/MM/yyyy'}}</p>
    <p>number : {{fees | number:2}}</p>

    <hr>
    <h2>Selected Departments</h2>

    <label>
        Select Departments:
    </label>

    <br><br>

    <select ng-model="selectedDepartment" ng-options="department for department in departments"></select>

    <p>Selected Departments:{{selectedDepartment}}</p>

    <hr>

    <h2>Department Info</h2>

    <div ng-switch="selectedDepartment">

        <div ng-switch-when="CSE">
            <h3>Computer Science and Engineering</h3>
            <p>Department of CSE focuses on software engineering, algorithms, artificial intelligence, and computing
                systems.</p>
        </div>

        <div ng-switch-when="MCA">
            <h3>Master of Computer Applications</h3>
            <p>Department of MCA provides advanced training in modern software design, application development, and
                system
                administration.</p>
        </div>

        <div ng-switch-when="MBA">
            <h3>Master of Business Administration</h3>
            <p>Department of MBA focuses on leadership, strategic management, corporate finance, and business analytics.
            </p>
        </div>

        <div ng-switch-when="BBA">
            <h3>Bachelor of Business Administration</h3>
            <p>Department of BBA equips students with fundamental principles in marketing, human resources, and business
                operations.</p>
        </div>

        <div ng-switch-when="EEE">
            <h3>Electrical and Electronics Engineering</h3>
            <p>Department of EEE covers power electronics, circuit design, control systems, and renewable energy
                technologies.</p>
        </div>

        <div ng-switch-when="IMCA">
            <h3>Integrated Master of Computer Applications</h3>
            <p>Department of IMCA offers a comprehensive five-year integrated program combining foundational and
                advanced
                computing skills.</p>
        </div>

    </div>

    <hr>

    <h2>ng-init demo</h2>

    <div ng-init="collegecode = 'Fisat123'; location = 'Angamaly'">

        <p>College Code : {{collegecode}}</p>
        <p>Location : {{location}}</p>

    </div>

    <hr>

    <h2>ng-disabled demo</h2>

    <button ng-click="allowAdmission()">

        Enable Admission

    </button>
    <br><br>

    <button ng-disabled="isDisabled">

        Take Admission

    </button>
    <br><br>

    <h2>ng-readonly demo</h2>
    <label>College ID</label>

    <br><br>

    <input type="text" ng-model="" ng-readonly="isReadOnly">

    <br><br>

    <button ng-click="isReadOnly =!isReadOnly">Toggle ReadOnly</button>

    <p>ReadOnly Status : {{isReadOnly}}</p>

    <hr>
    <br><br>

    <h2>Student Registration</h2>
    <form name="studentForm" novalidate ng-submit="registerStudent()">

        <label>Student Name:</label>
        <br>
        <input type="text" name="studentName" ng-model="student.name" ng-minlength="3" ng-maxlength="20" required>
        <p ng-show="studentForm.studentName.$touched && studentForm.studentName.$error.required" style="color:red;">

            Student Name is required

        </p>

        <p ng-show="studentForm.studentName.$touched && studentForm.studentName.$error.minlength" style="color:red;">

            minimum 3 character required

        </p>

        <p ng-show="studentForm.studentName.$touched && studentForm.studentName.$error.maxlength" style="color:red;">

            maximum 20 character required

        </p>

        <br><br>

        <label>Email:</label>:</label>
        <br>
        <input type="text" name="studentEmail" ng-model="student.email" required>
        <p ng-show="studentForm.studentEmail.$touched && studentForm.studentEmail.$error.required" style="color:red;">

            Email is required

        </p>
        <p ng-show="studentForm.studentEmail.$touched && studentForm.studentEmail.$error.required" style="color:red;">

            Student Email is required

        </p>
        <br><br>


        <label>Phone:</label>:</label>
        <br>
        <input type="number" name="studentPhone" ng-model="student.phone" ng-pattern="/^[0-9]{10}$/" required>
        <p ng-show="studentForm.studentPhone.$touched && studentForm.studentPhone.$error.required" style="color:red;">
            Phone number is required.
        </p>

        <p ng-show="studentForm.studentPhone.$touched && studentForm.studentPhone.$error.pattern" style="color:red;">
            Phone number must contain exactly 10 digits.
        </p>
        <br><br>


        <label>Age:</label>
        <br>
        <input type="number" name="studentAge" ng-model="student.age" min="4" max="18" required>
        <p ng-show="studentForm.studentAge.$touched && studentForm.studentAge.$error.required" style="color:red;">
            Age is required.
        </p>

        <p ng-show="studentForm.studentAge.$touched && studentForm.studentAge.$error.min" style="color:red;">
            Not eligible. Age cannot be less than 4.
        </p>

        <p ng-show="studentForm.studentAge.$touched && studentForm.studentAge.$error.max" style="color:red;">
            Not eligible. Age cannot be greater than 18.
        </p>

        <br><br>


        <label>Department:</label>
        <br>
        <input type="text" name="studentDepartment" ng-model="student.department" required>
        <p ng-show="studentForm.studentDepartment.$touched && studentForm.studentDepartment.$error.required"
            style="color:red;">
            Dept required.
        </p>
        <br><br>


        <label>Gender:</label>
        <br>

        <input type="text" name="studentGender" ng-model="student.gender" ng-pattern="/^(Male|Female)$/i" required>

        <p ng-show="studentForm.studentGender.$touched && studentForm.studentGender.$error.pattern" style="color:red;">
            Gender must be Male or Female.
        </p>
        <br><br>


        <label>Address:</label>:</label>
        <br>

        <input type="text" name="studentAddress" ng-model="student.address" ng-minlength="10" ng-maxlength="100"
            ng-pattern="/^[A-Za-z0-9\s,.\-/#()]+$/" required>

        <p ng-show="studentForm.studentAddress.$touched && studentForm.studentAddress.$error.required"
            style="color:red;">
            Address is required.
        </p>

        <p ng-show="studentForm.studentAddress.$touched && studentForm.studentAddress.$error.minlength"
            style="color:red;">
            Address must contain at least 10 characters.
        </p>

        <p ng-show="studentForm.studentAddress.$touched && studentForm.studentAddress.$error.maxlength"
            style="color:red;">
            Address cannot exceed 100 characters.
        </p>

        <p ng-show="studentForm.studentAddress.$touched && studentForm.studentAddress.$error.pattern"
            style="color:red;">
            Invalid address. Only letters, numbers, spaces, and , . - / # ( ) are allowed.
        </p>

        <br><br>

        <button type="submit">Register Student</button>

    </form>
    <hr>
    <br><br>

    <h2>Form Status</h2>

    <p>
        valid: {{studentForm.$valid}}
    </p>

    <p>
        invalid: {{studentForm.$invalid}}
    </p>

    <p>
        pristine: {{studentForm.$pristine}}
    </p>

    <p>
        dirty: {{studentForm.$dirty}}
    </p>

    <p>
        student name touched : {{studentForm.studentName.$touched}}
    </p>

    <p>
        student name valid : {{studentForm.studentName.$valid}}
    </p>

    <p>
        student name invalid : {{studentForm.studentName.$invalid}}
    </p>

    <p>
        student name error required: {{studentForm.studentName.$error.required}}
    </p>

</body>

</html>